{extend name="../application/web/view/base.html" /}
{block name="js_css"}
 <link rel="stylesheet" href="{$Request.domain}/css/web/reset.css">
 <link rel="stylesheet" href="{$Request.domain}/css/web/base.css">
 <link rel="stylesheet" href="{$Request.domain}/css/web/index.css">
{/block}
{block name="title"}首页{/block}
{block name="main"}
	<div class="banner">
		<ul>
			<li><img src="{$Request.domain}/media/img/banner1.jpg" /></li>
			<li style="display: none"><img src="{$Request.domain}/media/img/banner1.jpg" /></li>
			<li style="display: none"><img src="{$Request.domain}/media/img/banner1.jpg" /></li>
		</ul>	
	</div>
	<div class="introduce">
		<div class="content">
			<ul>
				<li>
					<s></s>
					<div>
						<h3>上门维修</h3>
						<p>随时随地，足不出户修手机</p>
					</div>
				</li>
				<li>
					<s></s>
					<div>
						<h3>原厂品质</h3>
						<p>高品质零配件，质量有保障</p>
					</div>
				</li>
				<li>
					<s></s>
					<div>
						<h3>终身质保</h3>
						<p>同一故障点，享终身保修</p>
					</div>
				</li>
				<li>
					<s></s>
					<div>
						<h3>维修录像</h3>
						<p>维修全程录像，安全更放心</p>
					</div>
				</li>
			</ul>
		</div>	
	</div>
	<div class="cooperation">
		<div class="content">
			<h1>重要合作伙伴</h1>
			<ul>
				<li><img src="{$Request.domain}/media/img/e_logo1.jpg"></li>
				<li><img src="{$Request.domain}/media/img/e_logo2.jpg"></li>
				<li><img src="{$Request.domain}/media/img/e_logo3.jpg"></li>
				<li><img src="{$Request.domain}/media/img/e_logo4.jpg"></li>
				<li><img src="{$Request.domain}/media/img/e_logo5.jpg"></li>
				<li><img src="{$Request.domain}/media/img/e_logo6.jpg"></li>
				<li><img src="{$Request.domain}/media/img/e_logo7.jpg"></li>
				<li><img src="{$Request.domain}/media/img/e_logo8.jpg"></li>
				<li><img src="{$Request.domain}/media/img/e_logo9.jpg"></li>
				<li><img src="{$Request.domain}/media/img/e_logo10.jpg"></li>
				<li><img src="{$Request.domain}/media/img/e_logo11.jpg"></li>
				<li><img src="{$Request.domain}/media/img/e_logo12.jpg"></li>
			</ul>	
		 </div>		 
	</div>						
{/block}
