{extend name="base" /}

{block name="js_css"}{/block}

{block name="title"}
{__block__}
找回密码
{/block}

{block name="content"}
<div class="container">
    <form class="form-horizontal"  role="form">   
        <div class="form-group">
            <div class="col-md-12">
                 <input type="number" class="form-control" id="phone" placeholder="请输入有效手机号">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-9">
               <input type="number" class="form-control" id="code" placeholder="请输入4位验证码">
             </div>
            <div class="col-md-3">
              <button class="btn btn-primary btn-block" id="sendMessage">免费获取验证码</button>
            </div>
        </div>
        <div class="form-group">
        	<div class="col-md-6">
                 <button class="btn btn-primary btn-block">确定</button>          		
        	</div>
        	<div class="col-md-6">
        		 <input type="reset" class="btn btn-warning btn-block" value="重置"/>
        	</div>
        </div>
    </form>    
</div>
<script>
var wait=60;
var count = 1;
function time(o) {
	    if(count == 1){
	    	var url = '/index/index/forgetPassword';
	    	var phont  = $("#phone").val();
	    	var postData = {'phone':phone};
	    	$.post(url,postData,function(result){
	    		 if(result.status == 1){
	    		 	count--;
	    		 	dialog.alert(result.msg);
	    		 }
	    		 if(result.status == 2){
	    		 	dialog.error(result.msg);
	    		 }
	    	},'json');
	    }
        if (wait == 0) {
            o.removeAttribute("disabled");           
            o.innerHTML="免费获取验证码";
            wait = 60;
            count++;
        } else {
            o.setAttribute("disabled", true);
            o.innerHTML="重新发送(" + wait + ")";
            wait--;
            setTimeout(function() {
                time(o)
            },1000);
        }
    }
document.getElementById("sendMessage").onclick=function(){time(this);}	
</script>
{/block}