{extend name="base" /}

{block name="js_css"}
 <link rel="stylesheet" href="{$Request.domain}/css/login.css">
{/block}

{block name="title"}
{__block__}
登录
{/block}

{block name="content"}
    <div class="admin_login_wrap">
    <h1 align="center"><br>登录</h1>
    <div class="adming_login_border">
        <div class="admin_input">
            <form action="{$Request.domain}/index/index/login" method="post" onSubmit="return user(),pass()">
                <ul class="admin_items">
                    <li>
                        <label for="user">用户名：</label>
                        <input type="text" name="username" value="1" id="username" size="40" class="admin_input_style"  onBlur="user()"/><span id="user_span" style="color:red"></span>
                    </li>
                    <li>
                        <label for="pwd">密码：</label>
                        <input type="password" name="password" value="1" id="password" size="40" class="admin_input_style"  onBlur="pass()"/><span id="pass_span" style="color:red"></span>
                    </li>
                    <li>
                        <input type="submit" tabindex="3" value="提交" class="btn btn-primary" />
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <p class="admin_copyright"> &copy; 2016 Powered by cqnu</p>
</div>
{/block}

{block name="footer"}
{__block__}
 @ 版权所有
{/block}