{extend name="../application/index/view/base.html" /}
{block name="js_css"}
<!--异步上传文件插件文件-->
<script src="/bootstrap-fileinput-master/js/fileinput.min.js"></script>
<link rel="stylesheet" href="/bootstrap-fileinput-master/css/fileinput.min.css"/>
<script src="/bootstrap-fileinput-master/js/locales/zh.js"></script>
<!--表单验证插件文件-->
<link rel="stylesheet" href="/bootstrapvalidator-master/dist/css/bootstrapValidator.min.css"></link>
<script src="/bootstrapvalidator-master/dist/js/bootstrapValidator.min.js"></script>
<script src="/bootstrapvalidator-master/dist/js/language/zh_CN.js"></script>
{/block}

{block name="title"}
快速注册
{/block}

{block name="content"}
<div class="container">
    <form class="form-horizontal register_form"  role="form" method="post"  autocomplete="off" >
        <div class="form-group">
             <label  for="forlevel"class="control-label col-md-3">账号类型：</label>
             <div class="col-md-9">
                 <label class="radio-inline">
                     <input type="radio" name="level" id="usertypeOption1" value="1" checked> 普通用户
                 </label>
                 <label class="radio-inline">
                     <input type="radio" name="level" id="usertypeOption2" value="2"> 维修人员
                 </label>
             </div>    
        </div>    
        <div class="form-group">
            <label for="forusername" class="control-label col-md-3">用户名：</label>
            <div class="col-md-9">
                 <input type="text" class="form-control" id="username" name="username" placeholder="请输入6-12位数字或字母或下划线" autofocus>
            </div>    
        </div>
        <div class="form-group">
            <label for="forpassword" class="control-label col-md-3">密码：</label>
            <div class="col-md-9">
                 <input type="password" class="form-control" id="password" name="password" placeholder="请输入6-12位数字或字母或下划线">
            </div>    
        </div>
        <div class="form-group">
            <label for="forrepassword" class="control-label col-md-3">确认密码：</label>
            <div class="col-md-9">
                 <input type="password" class="form-control" id="repassword" name="repassword" placeholder="请再次输入6-12位数字或字母或下划线">
            </div>    
        </div>
        <div class="form-group">
            <label for="forphone" class="control-label col-md-3">联系电话：</label>
            <div class="col-md-9">
                 <input type="number" class="form-control" id="phone" name="phone" placeholder="请输入手机号">
            </div>    
        </div>
        <div class="form-group">
            <label for="foraddress" class="control-label col-md-3">地址：</label>
            <div class="col-md-9">
                 <input type="text" class="form-control" id="address" name="address" placeholder="请输入有效联系的地址">
            </div>    
        </div>
        <div class="form-group content-show">
            <label for="foremail" class="control-label col-md-3">邮箱：</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="email" name="email" placeholder="请输入有效邮箱地址">
            </div>
        </div>
        <div style="display: none;" class="content-hidden form-group">
            <label for="forsid" class="control-label col-md-3">请选择驻点：</label>
            <div class="col-md-9">
                <select class="form-control" id="sid" name="sid">
                    <?php foreach($list as $key => $val){?>
                        <option value="{$val.id}">{$val.station_name}</option>
                    <?php }?>
                </select>
            </div>
        </div>
        <div style="display: none;" class="content-hidden form-group">
            <div class="form-group">
                <label for="forimg" class="control-label col-md-3">身份证：</label>
                <div class="col-md-9">
                    <input id="sfz" name="image" type="file" class="file file-loading"  data-allowed-file-extensions='["jpg","png","jpeg"]' data-show-preview="false" data-show-caption="ture">
                    <input type="hidden" id="img" name="img" />
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" />注册
    </form>    
</div>
<script>
	/**
	 * 表单验证
	 */
	$(document).ready(function() {
	    $('.register_form').bootstrapValidator({
	        message: '输入不合法',
	        feedbackIcons: {
	            valid: 'glyphicon glyphicon-ok',
	            invalid: 'glyphicon glyphicon-remove',
	            validating: 'glyphicon glyphicon-refresh'
	        },
	        fields: {
	            username: {
	                message: '用户名不能为空',
	                validators: {
                        threshold: 6,
	                    notEmpty: {
	                        message: '用户名不能为空'
	                    },
	                    stringLength: {
	                        min: 6,
	                        max: 12,
	                        message: '用户名必须为6-12位数字或字母或下划线'
	                    },
	                    regexp: {
	                        regexp: /^[a-zA-Z0-9_]+$/,
	                        message: '用户名必须为6-12位数字或字母或下划线'
	                    }
	                }
	            },
	            password: {
	                message: '密码不能为空',
	                validators: {
	                	threshold: 6,
	                    notEmpty: {
	                        message: '密码不能为空'
	                    },
	                    stringLength: {
	                        min: 6,
	                        max: 12,
	                        message: '密码必须为6-12位数字或字母或下划线'
	                    },
	                    regexp: {
	                        regexp: /^[a-zA-Z0-9_]+$/,
	                        message: '密码必须为6-12位数字或字母或下划线'
	                    }
	                }
	            },
	            repassword: {
	                message: '确认密码不能为空',
	                validators: {
	                	threshold: 6,
	                    notEmpty: {
	                        message: '确认密码不能为空'
	                    },
//	                    stringLength: {
//	                        min: 6,
//	                        max: 12,
//	                        message: '密码必须为6-12位数字或字母或下划线'
//	                    },
//	                    regexp: {
//	                        regexp: /^[a-zA-Z0-9_]+$/,
//	                        message: '密码必须为6-12位数字或字母或下划线'
//	                    },
	                    identical: {
	                        field: 'password',
	                        message: '两次密码不一致'
                   		}
	                }
	            },
	            phone: {
	                message: '请输入有效的手机号',
	                validators: {
	                	threshold: 11,
	                    notEmpty: {
	                        message: '联系方式不能为空'
	                    },
	                    regexp: {
	                        regexp: /^(((13[0-9]{1})|(15[0-9]{1})|(14[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/,
	                        message: '请输入有效的11位手机号'
	                    }
	                }
	            },
	            address: {
	                message: '请输入有效的联系地址',
	                validators: {
	                	threshold: 6,
	                    notEmpty: {
	                        message: '联系地址不能为空'
	                    },
	                    stringLength: {
	                        min: 6,
	                        max: 30,
	                        message: '有效地址必须为6-30字内'
	                    }
	                }
	            },
                email: {
                    message: '请输入有效的邮箱地址',
                    validators: {
                        notEmpty: {
                            message: '邮箱地址不能为空'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/,
                            message: '请输入有效的邮箱地址'
                        }
                    }
                },
                sid: {
                    message: '请选择有效的驻点',
                    validators: {
                        notEmpty: {
                            message: '驻点不能为空'
                        }
                    }
                },
	            sfz: {
	                message: '请选择上传的身份证，从业资格证',
	                validators: {
	                    notEmpty: {
	                        message: '请选择上传的身份证，从业资格证'
	                    },
	                    file: {
	                        extension: 'png,jpg,jpeg,gif',
	                        minSize: 1,
	                        maxSize: 10*1024*1024,
	                        message: '请选择一个大小10M内的图片类型文件'
                   		}
	                }
	            }
	        }
	    }).on('success.form.bv', function(e) {
            // Prevent form submission
            e.preventDefault();

	    	if(e.type == 'success'){
	    		var url = "/index/index/register";
	    		var data = $(".register_form").serializeArray();
	    		var postData = {};
	    		$(data).each(function(i){
	    			postData[this.name] = this.value;
	    		})
	    		$.post(url,postData,function(result) {
	                if(result.status == 200)
			        {
			            return dialog.success(result.msg,result.data.url);
			        }
			        if(result.status == 300)
			        {
			            return dialog.error(result.msg);
			        }
            	}, 'json');
	    	}
        });
	});
	/**
	 * 注册普通会员、维修人员
	 */
	$("input[type='radio']").change(function(){
		var type = $(this).val();
		if(type == 2){
			$('.content-hidden').show();
			$('.content-show').hide();
		}
		if(type == 1){
			$('.content-hidden').hide();
            $('.content-show').show();
		}
	});
	/**
	 * 上传身份证，从业资格证
	 */
	$("#sfz").fileinput({
	    uploadUrl: "/index/index/ajaxUploadImg",  // 文件上传接口路径
	    allowedFileExtensions : ['jpg', 'png','jpeg'],  //允许上传的文件后缀名
	    maxFileSize: 4096, //最大文件大小 4M
	    language: 'zh', //中文提示信息
	    uploadAsync: true,//同步提交文件
	    maxFileCount: 1, //最大文件数量
        showUpload: true //是否显示上传按钮

	});
	/**
	 * 上传身份证，从业资格证回调函数
	 */
	$("#sfz").on("fileuploaded", function(event,data) {
	    if(data.response.status == 200){
	        $("#img").val(data.response.data.imgpath);
	        return dialog.alert(data.response.msg);
        }
        if(data.response.status == 300){
            return dialog.error(data.response.msg);
        }
    });
</script>
{/block}