{extend name="base" /}

{block name="js_css"}
<script src="/bootstrap-fileinput-master/js/fileinput.min.js"></script>
<link rel="stylesheet" href="/bootstrap-fileinput-master/css/fileinput.min.css"/>
<script src="/bootstrap-fileinput-master/js/locales/zh.js"></script>
{/block}

{block name="title"}
{__block__}
注册
{/block}


{block name="content"}
<div class="container">
    <form class="form-horizontal register_form"  role="form">
        <div class="form-group">
             <label class="control-label col-md-3">账号类型：</label>
             <div class="col-md-9">
                 <label class="radio-inline">
                     <input type="radio" name="level" id="usertypeOption1" value="1" checked> 普通用户
                 </label>
                 <label class="radio-inline">
                     <input type="radio" name="level" id="usertypeOption2" value="2"> 维修人员
                 </label>
             </div>    
        </div>    
        <div class="form-group">
            <label for="forusername" class="control-label col-md-3">用户名：</label>
            <div class="col-md-9">
                 <input type="text" class="form-control" id="username" name="username" placeholder="请输入6-12位数字或字母或下划线">
            </div>    
        </div>
        <div class="form-group">
            <label for="forpassword" class="control-label col-md-3">密码：</label>
            <div class="col-md-9">
                 <input type="password" class="form-control" id="password" name="password" placeholder="请输入6-12位数字或字母或下划线">
            </div>    
        </div>
        <div class="form-group">
            <label for="forrepassword" class="control-label col-md-3">确认密码：</label>
            <div class="col-md-9">
                 <input type="password" class="form-control" id="repassword" name="repassword" placeholder="请再次输入6-12位数字或字母或下划线">
            </div>    
        </div>
        <div class="form-group">
            <label for="forphone" class="control-label col-md-3">联系电话：</label>
            <div class="col-md-9">
                 <input type="number" class="form-control" id="phone" name="phone" placeholder="请输入手机号">
            </div>    
        </div>
        <div class="form-group">
            <label for="forphone" class="control-label col-md-3">地址：</label>
            <div class="col-md-9">
                 <input type="text" class="form-control" id="address" name="address" placeholder="请输入有效联系的地址">
            </div>    
        </div>
        <div style="display: none;" class="content-hidden">
	        <div class="form-group">
	            <label for="forsfz" class="control-label col-md-3">身份证，从业资格证：</label>
	            <div class="col-md-9">
					<input id="sfz" name="img[]" type="file" class="file file-loading" multiple='multiple' data-allowed-file-extensions='["jpg","png","jpeg"]' data-show-preview="true" data-show-caption="true">
	                <input type="hidden" id="img" name="img" />
	            </div>	
	        </div>  
	    </div>    
        <button type="submit" class="btn btn-primary btn-block"/>注册
    </form>    
</div>
<script>
	/**
	 * 表单验证
	 */
	$(document).ready(function() {
	    $('.register_form').bootstrapValidator({
	        message: '输入不合法',
	        feedbackIcons: {
	            valid: 'glyphicon glyphicon-ok',
	            invalid: 'glyphicon glyphicon-remove',
	            validating: 'glyphicon glyphicon-refresh'
	        },
	        fields: {
	            username: {
	                message: '用户名不能为空',
	                threshold: 6,
	                validators: {
	                    notEmpty: {
	                        message: '用户名不能为空'
	                    },
	                    stringLength: {
	                        min: 6,
	                        max: 12,
	                        message: '用户名必须为6-12位数字或字母或下划线'
	                    },
	                    regexp: {
	                        regexp: /^[a-zA-Z0-9_]+$/,
	                        message: '用户名必须为6-12位数字或字母或下划线'
	                    }
	                }
	            },
	            password: {
	                message: '密码不能为空',
	                validators: {
	                	threshold: 6,
	                    notEmpty: {
	                        message: '密码不能为空'
	                    },
	                    stringLength: {
	                        min: 6,
	                        max: 12,
	                        message: '密码必须为6-12位数字或字母或下划线'
	                    },
	                    regexp: {
	                        regexp: /^[a-zA-Z0-9_]+$/,
	                        message: '密码必须为6-12位数字或字母或下划线'
	                    }
	                }
	            },
	            repassword: {
	                message: '确认密码不能为空',
	                validators: {
	                	threshold: 6,
	                    notEmpty: {
	                        message: '确认密码不能为空'
	                    },
	                    stringLength: {
	                        min: 6,
	                        max: 12,
	                        message: '密码必须为6-12位数字或字母或下划线'
	                    },
	                    regexp: {
	                        regexp: /^[a-zA-Z0-9_]+$/,
	                        message: '密码必须为6-12位数字或字母或下划线'
	                    },
	                    identical: {
	                        field: 'password',
	                        message: '两次密码不一致'
                   		}
	                }
	            },
	            phone: {
	                message: '请输入有效的手机号',
	                validators: {
	                	threshold: 11,
	                    notEmpty: {
	                        message: '联系方式不能为空'
	                    },
	                    regexp: {
	                        regexp: /^(((13[0-9]{1})|(15[0-9]{1})|(14[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/,
	                        message: '请输入有效的11位手机号'
	                    }
	                }
	            },
	            address: {
	                message: '请输入有效的联系地址',
	                validators: {
	                	threshold: 6,
	                    notEmpty: {
	                        message: '联系地址不能为空'
	                    },
	                    stringLength: {
	                        min: 6,
	                        max: 30,
	                        message: '有效地址必须为6-30字内'
	                    }
	                }
	            },
	            sfz: {
	                message: '请选择上传的身份证，从业资格证',
	                validators: {
	                    notEmpty: {
	                        message: '请选择上传的身份证，从业资格证'
	                    },
	                    file: {
	                        extension: 'png,jpg,jpeg,gif',
	                        minSize: 1,
	                        maxSize: 10*1024*1024,
	                        message: '请选择一个大小10M内的图片类型文件'
                   		}
	                }
	            }
	        }
	    }).on('success.form.bv', function(e) {
	    	if(e.type == 'success'){
	    		var url = "/index/index/register";
	    		var data = $(".register_form").serializeArray();
	    		var postData = {};
	    		$(data).each(function(i){
	    			postData[this.name] = this.value;
	    		})
	    		$.post(url,postData,function(result) {
	    			console.log(result);
	                if(result.status == 1)
			        {
			            dialog.success(result.msg,result,url);
			        }
			        if(result.status == 2)
			        {
			            dialog.error(result.msg);
			        }
            	}, 'json');
	    	}else{
	    		dialog.error("提交失败！");
	    	}
        });
	});
	/**
	 * 注册普通会员、维修人员
	 */
	$("input[type='radio']").change(function(){
		var type = $(this).val();
		if(type == 2){
			$('.content-hidden').show();
		}
		if(type == 1){
			$('.content-hidden').hide();
		}
	})
	/**
	 * 上传身份证，从业资格证
	 */
	$("#sfz").fileinput({
	    uploadUrl: "/index/index/ajaxUploadImg", 
	    allowedFileExtensions : ['jpg', 'png','gif','jpeg'],
	    maxFileSize: 4096,
	    language: 'zh',
	    uploadAsync: true,
	    maxFileCount: 2,
	    
	});
	/**
	 * 上传身份证，从业资格证回调函数
	 */
	$("#sfz").on("fileuploaded", function(event, data) {
        if(data.response.status == 1)
        {
            dialog.alert(data.response.msg);
            var old_img = $("#img").val();
            var oid_length = old_img.length;
            var img = data.response.data;
            if(oid_length <=0){
            	var new_img = img;
            }else{
                var new_img = old_img +','+img;
            }
            $("#img").val(new_img);
        }
        if(data.response.status == 2)
        {
            dialog.alert(data.response.msg);
        }
    });
</script>
{/block}