<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="{$Request.domain}/bootstrap-3.3.0/dist/css/bootstrap.min.css">
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="{$Request.domain}/bootstrap-3.3.0/dist/jquery/jquery.min.js"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="{$Request.domain}/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
        <!--弹出框插件文件-->
        <script src="/layer-v3.0.1/layer/layer.js"></script>
        <script src="/js/admin/layer_dialog.js"></script>
        {block name="js_css"}独立样式和脚本{/block}
        <title>{block name="title"}{/block}</title>
    </head>
<body>
{block name="content"}内容{/block}
</body>
</html>