/*body{
	font-size: 62.5%;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
header .row div{
	line-height: 5rem;
	height: 5rem;
}
header .row div:first-child{
	line-height: 5rem;
	height: 5rem;
}
header .row div:last-child{
	float: right;
}
footer .tip{
	text-align: center;
	font-weight: bold;
}
*/