<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{$Request.domain}/bootstrap-3.3.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$Request.domain}/css/normalize.css">
	<link rel="stylesheet" href="{$Request.domain}/css/main.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="{$Request.domain}/bootstrap-3.3.0/dist/jquery/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="{$Request.domain}/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
	<script src="/js/layer_dialog.js"></script>
	<script src="/layer-v3.0.1/layer/layer.js"></script>
	<title>{block name="title"}{/block}</title>
</head>
<body>
<header>
	<div class="row">
		<div class="col-md-10">
			<h2>
				<a href="#">报修系统</a>
			</h2>
		</div>
      	<div class="col-md-2">欢迎回来  亲爱的      <a href="#">退出</a></div>
	</div>
</header>
{block name="menu"}菜单{/block}
{block name="left"}左边分栏{/block}
{block name="main"}主内容{/block}
{block name="right"}右边分栏{/block}
{block name="footer"}
<footer class="container">
	<div class="row">
		<div class="col-md-12 tip">
			粤府新函[2001]87号 粤网文[2014]0633-233号 网络视听许可证1904073号 增值电信业务经营许可证：粤B2-20090059 B2-20090028 违法和不良信息举报电话：0755-83767606
		</div>
		<div class="col-md-12 tip">
			Copyright © 1998 - 2016 Tencent. All Rights Reserved
		</div>
	</div>
</footer>
{/block}
</body>
<script src="/js/fittings.js"></script>
<script src="/js/url.js"></script>
</html>