{extend name="base" /}

{block name="title"}
{__block__}
配件管理页面
{/block}

{block name="menu"}
    <a href="/" >首页</a>
    <a href="" >资讯</a>
    <a href="" >论坛</a>
{/block}
{block name="left"}{/block}

{block name="main"}
     <table>
     	<button id="add_fitting">新增</button>
     	<thead>
     		<tr>
     			<th>ID</th>
     			<th>配件名</th>
     			<th>剩余数量</th>
     			<th>操作</th>
     		</tr>
     	</thead>
     	<tbody>
     		<?php if(!empty($data)) { ?>
	     		<?php foreach($data as $key => $value) {?>
		     		<tr>
		     			<td>{$value.id}</td>
		     			<td>{$value.fittingsName}</td>
		     			<td>{$value.number}</td>
		     			<td><a edit_id="{$value.id}" class="edit_fitting">编辑</a><a del_id="{$value.id}" class="del_fitting">删除</a></td>
		     		</tr>
	     		<?php }?>
     		<?php }?>
     	</tbody>
     </table>
{/block}
{block name="right"}
 最新资讯：
{/block}

{block name="footer"}
{__block__}
 @ 版权所有
{/block}