{extend name="base" /}

{block name="js_css"}
<link rel="stylesheet" href="{$Request.domain}/bootstrap-3.3.0/dist/css/bootstrap.min.css">
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="{$Request.domain}/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
{/block}

{block name="title"}
产品专区
{/block}

{block name="main"}
<div class="container">
    {volist name="list" id="vo"}
    <div class="description">
        <dl class="dl-horizontal">
            <dt>产品如何保养</dt>
            <dd>{$vo.maintain}
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>产品帮助</dt>
            <dd>{$vo.help}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt></dt>
            <dd><a href="">下载相关文档</a></dd>
        </dl>
    </div>
    {/volist}
</div>
<script src="{$Request.domain}/js/common/common.js"></script>
<style>
    .container{
        padding: 20px;
        margin-top: 10px;
        /*border: 1px #5b5b5b solid;*/
    }
   header .logo img {
        width:33px;
        height:55px;
    }
    .dl-horizontal {
        width: 1000px;
        margin-top: 30px;
    }
</style>
{/block}
