{extend name="base" /}

{block name="js_css"}
    <link rel="stylesheet" href="{$Request.domain}/css/web/reset.css">
    <link rel="stylesheet" href="{$Request.domain}/css/web/base.css">
    <link rel="stylesheet" href="{$Request.domain}/bootstrap-3.3.0/dist/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{$Request.domain}/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
{/block}

{block name="title"}
产品专区
{/block}

{block name="main"}
    <div class="container">
        <?php foreach($list as $key =>$vo){?>
            <div class="item">
                <div class="product">
                    <a href="{$Request.domain}/web/product_area/description?gid={$vo.id}">
                        <?php foreach($vo['data'] as $kk => $vv){?>
                            {if $kk == 0}
                                <img src="{$vv}" style="cursor:pointer;" width="200" height="200"/>
                            {/if}
                        <?php }?>
                    </a>
                    <p>{$vo.name}</p>
                </div>
            </div>
        <?php }?>
    </div>
<style>
    header .logo img {
        width: 38px;
        height: 55px;
    }
    .container{
        font-size: 0rem;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .container .item{
        width: 20%;
        display: inline-block;
    }
    .container div.item .product{
        padding: 1rem;
    }
    .container div.item .product a{
        display: block;
    }
    .container div.item .product p{
        text-align: center;
        font-size: 1rem;
        padding: 1rem 0rem;
    }
</style>
{/block}
