/**
 * 广告样式
 */
.banner{
    width: 100%;
} 
.banner img{
    width: 100%;
    height: 300px;
}
/**
 * 流程介绍
 */
.introduce{
    width: 100%;
    background: white;
    font-size: 0rem;
}
.introduce .content{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: 2rem 0rem;
    border-bottom: 1px gray solid;
}
.introduce ul li{
    display: inline-block;
    width: 25%;
}
/*.introduce ul li s:nth-child(1){*/
    /*background: url('/media/img/pz.png') no-repeat;*/
    /*background-position: -44px -44px;*/
/*}*/
/*.introduce ul li s:nth-child(2){*/
    /*background: url('/media/img/pz.png') no-repeat;*/
    /*background-position: -44px -44px;*/
/*}*/
/*.introduce ul li s:nth-child(3){*/
    /*background: url('/media/img/pz.png') no-repeat;*/
    /*background-position: -44px 0px;*/
/*}*/
/*.introduce ul li s:nth-child(4){*/
    /*background: url('/media/img/pz.png') no-repeat;*/
    /*background-position: 0px -44px;*/
/*}*/
.introduce ul li h3{
    color: #333;
    font-weight: bold;
    font-size: 1.8rem;
}
.introduce ul li p{
    color: gray;
    font-size: 1rem;
}
/**
 * 重要合作伙伴
 */
.cooperation{
    background: white;
    padding: 2rem 0rem;
    width: 100%;
    font-size: 0rem;
}
.cooperation .content{
    padding: 0rem 5rem;
}
.cooperation .content h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    padding: 1.5rem 0rem;
}
.cooperation .content ul li{
    display: inline-block;
    width: 16.66666%;
    padding-top: 2rem;
}
.cooperation .content ul li img{
    width: 108px;
    height: 46px;
}